/*
Create by Kurama250
Github : github.com/Kurama250
*/

#preloader {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    backdrop-filter: blur(25px);
}

#loader {
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

#main-content {
    display: none;
}

.text-set {
    min-width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    transition-duration: .2s;
    background: linear-gradient(0deg, #a33c00, #272727);
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .text-set:after {
    filter: blur(50px);
  }
